@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(../fonts/6q1c0ofg6nksehac2eh-3z0eavxt0g0bientp43qt6e.ttf) format('truetype');
}
